
/* My Style Sheet */
.my_wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
header{
    background-color: #1abc9c;
}

.bg-navcolor{
    background-color: #303d4e;
}


.navbar a{
    color: white;
}



header img{
    width: 200px;
    height: 200px;
}

#portfolio img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}



[class^="col-"]{

    /* pa: 0.5rem; */

}

/* Backgrounds colors */

.bg-gruna{
    background-color: #ba4b63;
}

.bg-cake{
    background-color: #1ea4b6;
}

.bg-circus{
    background-color: #130f0f;
}

.bg-game{
    background-color: #1c83c1;
}

.bg-safe{
    background-color: #0e38b5;
}

.bg-submarine{
    background-color: #ccb2a3;
}

 /* ------------------  Media Queris------------------ */
 
 
 /* // Small devices  (landscape phones, 576px and up) */
 @media (min-width: 576px) { 

    .container-fluid{
        margin: 0 1.5rem;
    }

    header img{
        width: 300px;
        height: 300px;
    }

 }
 
 /* // Medium devices  (tablets, 768px and up) */
 @media (min-width: 768px) { 

    .container-fluid{
        margin: 0 5rem;
    }
    

  }
 
 /* // Large devices  (desktops, 992px and up) */
 @media (min-width: 992px) { 

    .container-fluid{
        margin: 0 10rem;
    }

  }






